*{
  box-sizing: border-box;

}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  
  text-decoration: none;

}
ul {
  list-style-type: none;
}
 img{
  display: block;
 }
 
.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
  
.container{
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
 justify-content: center;
}
.header{
  border-bottom: 1px solid #e7e9fc;
  
}
.header-conteiner{
  width: 1158px;
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

  
.header-span {
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
  
}

.header-menu-list{
  display: flex;
  gap: 40px;
   padding: 24px 0;
}

.header-menu-link{
    font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;

}

.header-address{
  font-style: normal;
  margin-left: auto;
  padding: 24px 0;
 display: inline-block;
}

.header-nav{
  display: flex;
  align-items: center;
}
.header-address-link:hover,
.header-address-link:focus {
  color:#404bbf;
  }
.header .conteiner{
display: flex;

}
.address-list{
  display: flex;
  gap: 40px;
}

.header-address-link{
  line-height: 1.5;
  font-size: 16px;
  text-decoration: none;
  color:#434455 ;
  letter-spacing: 0.02em;

}
.hero{
    background-color: #2e2f42;
width: 1440px;
margin: 0 auto;
padding: 188px 0;

}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button:hover,
.hero-button:focus{
  background-color: #404bbf;
  
}
.hero-button {
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  line-height:1.5;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
   padding: 16px 32px;
   border-radius: 4px;
   border: none;
   display: block;
   margin: 0 auto;
}
.hero .conteiner{
text-align: center;
}
.subject{
  padding: 120px 0;
}
.subject-item{
  width: 1128px;
  padding-top: 120px;
  padding-bottom: 120px;
 margin: 0 auto;
  display: flex;
 gap: 24px;
 width: calc ((100% - 24px * 3) / 4);
  height: 104px;
  padding: 120px 156px;
justify-content: center;
}
.caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.caption-text {
  font-weight: 500;
  font-size: 16px;
  line-height:1.5 ;
  color: #434455;
  letter-spacing: 0.02em;
  width: 264px;
}
.third-section{
 background-color: #f4f4fd;
 width: 1440px;
margin: 0 auto;
 justify-content: center;
 padding: 120px 0;
}
.third-section-title{
font-weight: 700;
font-size: 36px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize; 
color: #2e2f42;
width: 162px;
margin: 0 auto;
margin-bottom: 72px;
}
.third-section-list{
  display: flex;
  gap: 24px;
   padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 156px;
  padding-left: 156px;
  margin: 0 auto;
   width: calc((100% - 72px) / 4);
}

.third-section-link{
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.all-heading{
  border-radius: 0 0 4px 4px;
  padding: 32px 0;
 
}
.heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;

}
.heading-text {
  font-weight: 500;
  font-size: 16px;
  line-height:1.5;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
}
.all-heading{
  padding:32px 16px;
  margin:0 auto;
}
.our-portfolio{
padding: 120px 0 120px 0;
border: 1px solid #e7e9fc;
}
.our-portfolio .container{
  border:1px solid #e7e9fc;
}
.headline{
font-weight: 700;
font-size: 36px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}
.headline-list{
  display: flex;
 flex-wrap: wrap;
 gap: 48px 24px;
 min-width:360px;
 justify-content: center;
  width: calc((100% - 48px) / 3);
}

.headline-text{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.headline-description{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.all-heading-portfolio{
  padding:32px 16px;
}

.footer{
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
   margin:  0 auto;
   padding: 100px 0;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
 display: inline-block;
 padding-right:1015px;
 padding-left: 161px;
}
.footer-span {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height:1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
 margin-top: 0;
min-width: 264px;
height: 72px;   
padding-left: 161px;
padding-bottom: 100px;
padding-right: 1015px;
} 




